# Exclude appsettings.json
appsettings.json
appsettings.Development.json

# Exclude logs directory
/logs/

# Ignore Visual Studio files
.vs/

# Ignore build output
bin/
obj/

# Ignore database files (if applicable)
*.mdf
*.ldf

# Ignore user-specific files
*.suo

# Ignore temporary files or folders
[Tt]emp/
.vs/Northwind/FileContentIndex/

# Ignore NuGet packages (if applicable)
packages/

# Ignore IDE-specific files
*.user
*.sln.docstates
